#clue-text {
  text-transform: capitalize;
}

.category-cell {
  text-transform: capitalize;
  background-color: #060ce9;
  width: 200px;
  height: 60px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.game-board {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.clue {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #060ce9;
  font-size: 3.5em;
  width: 200px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
  color: orange;
  text-shadow: 6px 4px black;
  transition: color ease-in-out 1s;
}

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  text-align: center;
  margin: auto;
}

header {
  text-align: center;
}

#spin-container {
  text-align: center;
  transform: scale(10);
  margin-top: 25%;
  transition: all ease-in 100ms;
}

html {
  background-color: #212351;
  color: white;
  user-select: none;
}

.grow {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  transform: scale(5);
  font-size: 5px;
  box-shadow: 10px 10px rgb(0, 0, 0, 50%);
  text-shadow: none;
  color: white;
  transition: all ease-in 1s;
}

#clue-window {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #060ce9;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 200px;
  height: 110px;
  border: solid black 2px;
  transition: all ease-in 1s;
}

.clue-box {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clicked {
  pointer-events: none;
}

#player-answer {
  cursor: text;
  font-size: 10px;
  width: 100px;
  text-align: center;
  border: none;
  margin-bottom: 4px;
  margin-top: 7px;
  background-color: rgb(255, 255, 255);
}

#player-answer:focus {
  outline: none;
}

#player-answer:focus::placeholder {
  color: transparent;
}

#submit-answer {
  text-align: center;
  cursor: pointer;
  font-size: 7px;
  width: 70px;
  border-radius: 10px;
  border: solid #212351 2px;
  background-color: orange;
}

#submit-answer:hover {
  background-color: rgb(255, 184, 53);
}

#score {
  color: gold;
}

#start-reset-bttn {
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  margin-bottom: 30px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score-box {
  border: dotted orange 2px;
  padding: 5px;
  border-radius: 6px;
  font-size: 20px;
}
